<html>

<head>
  <title>Bitcoin Live Mex</title>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
</head>

<body>

<dir class="container">
  <div id="app">
    <div class="priceview"> 
      <h1>{{ price }}</h1>
    </div>

    <div class="controls">
       <input type="number" name="low" placeholder="Low price" v-model="lowPrice">
        <input type="number" name="high" placeholder="High price" v-model="highPrice">

        <audio style="display:none;" id="player" src="sound/red-alert.mp3"></audio>
        <!-- <a onclick="document.getElementById('player').play()" >Cheer</a> -->
    </div>
  </div> <!-- app -->
</dir> <!-- container -->

<script>
    var app = new Vue({
        el: '#app',
        data: {
            price: '000',
            lowPrice : 6000,
            highPrice : 7000,
        },
         watch: {
           price: function () {
            console.log('Price changed ' + this.price);
            this.checkAlert();
           },
           lowPrice: function(){
            console.log('session update lowPrice => ' + this.lowPrice);
            localStorage.lowPrice = this.lowPrice;
           },
           highPrice: function(){
            console.log('session update highPrice => ' + this.highPrice);
            localStorage.highPrice = this.highPrice;
           }
       },
         created: function () {
          this.lowPrice = localStorage.lowPrice || 0;
          this.highPrice = localStorage.highPrice || 0;
      },
        methods: {
          checkAlert: function () {
            if(this.price <= this.lowPrice || this.price >= this.highPrice){
              console.log('Play alert');
              document.getElementById('player').play();
              return ;
            }
            
          }
        }
    })
    let url = 'wss://www.bitmex.com/realtime?subscribe=trade:XBTUSD'
    let ws = new WebSocket(url);
    ws.onopen = function(evt) {
        console.log('socket open')
    };
    ws.onmessage = function(evt) {
        let data = JSON.parse(evt.data)
        let vprice = data["data"][0].price;
        app.price = Math.round(vprice);
    };
    ws.onclose = function(evt) {
        console.log('socket closed')
    };
    ws.onerror = function(evt) {
       console.log('socket connection error')
    };

</script>

<style>
  body {
    font:'Karla', sans-serif;
    background-color: #419871;
  }

  .container {
    padding: 0;
    margin: 0;
     
  }

  .priceview{
    padding: 10%;
  }

  h1 {
    font-size: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1;
    padding: 0;
    margin: 0;
    color: white;
  }

  .controls{
    text-align: center;
    font:'Karla', sans-serif;
  } 
  
</style>
</body>
</html>
